/apps/logs.log
/New_stations/Data/Temp/
/apps/data/database.csv
/apps/data/filtered_data.csv
/apps/data/forecast_time_series.csv
/New_stations/Data/Graph/Helsinki_roads_graph.graphml
/New_stations/Data/Places_data/merged_places_05.txt
/New_stations/Data/Places_data/merged_places_02.txt
/Existing_stations/Data/Time_series/time_series_data_transformed.csv
